:root {
    --color-primary: #4e73df;
    --color-secondary: #1cc88a;
    -webkit-margin-start: 0;
    padding: 0;
    box-sizing: border-box;
    --font-family: Arial, Helvetica, sans-serif;
    --font-color: #ffffff;
}

body {
    font-family: var(--font-family);
    background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
    min-height: 100vh;
    color: var(--font-color);
}

.main-header > h1 {
    text-align: center;
    padding: 20px;
    color: var(--font-color);
}

.main-nav > button{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    background-color: var(--font-color);
    color: var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    gap: 15px;
    margin: 20px 0;
}
.main-nav > button.active {
    background-color: var(--color-primary);
    color: var(--font-color);
} 
.main-nav button:hover {
    background-color: #f8f9fc;
}

.content-section {
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 40px;
}

.hidden {
    display: none;
}

.card {
    background-color: var(--font-color);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--color-primary);
    color: var(--font-color);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: #2e59d9;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--font-color);
}

thead {
    background-color: var(--color-primary);
    color: var(--font-color);
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f8f9fc;
}

.main-footer {
    text-align: center;
    padding: 15px;
    color: var(--font-color);
    font-size: 14px;
}